# GITIGNORE template for MATLAB and SIMULINK
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/
_scripts/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# Folders
Utilities/

# Simulink compile files
rtwmakecfg.m
SFB__uint16ToBytes__SFB.mat
*.c
*.tlc

